.snackbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

mat-icon {
  color: rgb(12, 94, 33);
  margin-left: 8px;
  padding-right: 3px;
}