mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    margin-top: 200px;
    opacity: 0.9;
    border-radius: 20px;
}

mat-form-field {
  display: block;
  margin-bottom: 10px;
}

button {
  font-weight: bold;
  opacity: 0.9;
  border-radius: 20px;
  padding: 20px 45px;
}

h2 {
  color: white;
}