.snackbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

mat-icon {
    color: rgb(110, 16, 16);
    margin-left: 8px;
    padding-right: 3px;
}