<app-top-navbar></app-top-navbar>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<mat-card class="main-card">
    <mat-card-content>
        <button class="text-button back-button" mat-raised-button color="primary" [routerLink]="['/my-lists']"><mat-icon class="back">navigate_before</mat-icon>Go Back</button>
        <h1>{{currentWishlist.listName}}</h1>
        <h2>{{currentWishlist.listDescription}}</h2>
        <h3>Items</h3>
        <div class="items">
            <div class="item">
                <mat-card class="item-card">
                    <mat-card-content>
                        <button class="text-button" (click)="addItem()"><mat-icon>add_circle</mat-icon></button>
                    </mat-card-content>
                </mat-card>
                <p class="create-item">Add Item</p>
            </div>
            <div class="item" *ngFor="let item of currentWishlist.items">
                <mat-card class="item-card">
                    <mat-card-content class="item-content">
                        <button class="text-button" (click)="viewItem(item)"><mat-icon class="edit">edit</mat-icon></button>
                        <button class="text-button-trash" (click)="deleteItem(item)"><mat-icon class="trash">delete</mat-icon></button>
                        <!-- Maybe put pictures here? -->
                    </mat-card-content>
                </mat-card>
                <p class="item-name">{{item.itemName}}</p>
                <p class="item-price">{{"$" + item.itemCost}}</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>